@font-face {
	font-family: Cascadia Code;
	src: url(/mlat-map/webfonts/CascadiaCode-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Cascadia Code;
	src: url(/mlat-map/webfonts/CascadiaCode-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
        background-color: #111111 !important;
        font: 15px "Line Seed Sans TH", sans-serif !important;
        color: #e0e0e0 !important;
}

.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link,
.navbar-toggler {
        user-select: none;
        pointer-events: auto;
}

.navbar-dark .navbar-brand {
        color: rgba(255, 255, 255, .90) !important;
        transition: color 0.1s ease;
}

.navbar-dark .navbar-brand:hover {
        color: rgba(255, 255, 255, .75) !important;
}

.navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, .90) !important;
        transition: color 0.1s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, .75) !important;
}

.navbar {
        font-family: "Line Seed Sans TH";
}

.navbar-brand {
        font-size: 1rem !important;
        font-weight: bold;
}

a:visited,
a:link,
a:hover,
a:active {
        color: #e0e0e0;
}

table.stats {
        border: 1px solid #111111;
        border-collapse: collapse;
}

table.peers {
        border: 1px solid #111111;
        border-collapse: collapse;
}

td {
        font-family: "Cascadia Code";
        font-weight: bold;
        border: 1px solid #e0e0e0;
        padding: 1px 5px 1px 5px;
}

th {
        font-family: "Cascadia Code";
        border: 1px solid #e0e0e0;
        padding: 1px 5px 1px 5px;
        background: #226699;

}

tbody tr:hover {
        background: #333366;
}

tr.t_err {
        background: red;
        color: white;
}

.disabled {
        color: #888888;
}

.disabled:hover {
        background: #111111;
}

table {
        position: relative;
}

.rowlink::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 30px;
}

.statstext {
        text-align: right;
        font-family: "Cascadia Code";
        font-weight: bold;
}

.count {
        text-align: right;
        font-family: "Cascadia Code";
        font-weight: bold;
}

.foot {
        font: 11px "Line Seed Sans TH";
}

.status {
        color: #999999;
}

.status_ok {
        color: #22CC44;
}

.status_stale {
        color: #FF3333;
}

.feedname {
        font-family: "Line Seed Sans TH";
}

td.green {
        background: #22BB22;
}

td.yellow {
        background: #D0B020;
}

td.red {
        background: #D02020;
}