@font-face {
	font-family: Cascadia Code;
	src: url(/mlat-map/webfonts/CascadiaCode-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Cascadia Code;
	src: url(/mlat-map/webfonts/CascadiaCode-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #111111;
	font: 15px "Line Seed Sans TH", sans-serif;
	color: #e0e0e0;
}

.navbar-brand,
.navbar-nav,
.nav-item,
.nav-link,
.navbar-toggler {
	user-select: none;
	pointer-events: auto;
}

.navbar-dark .navbar-brand {
	color: rgba(255, 255, 255, .90) !important;
	transition: color 0.1s ease;
}

.navbar-dark .navbar-brand:hover {
	color: rgba(255, 255, 255, .75) !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .90) !important;
	transition: color 0.1s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, .75) !important;
}

.navbar {
	font-family: "Line Seed Sans TH";
}

.navbar-brand {
	font-size: 1rem !important;
	font-weight: bold;
}

a:visited,
a:link,
a:hover,
a:active {
	color: #e0e0e0;
}

.regiontable {
	border: 1px solid #111111;
	border-collapse: collapse;
}

td {
	font-family: "Cascadia Code";
	border: 1px solid #e0e0e0;
	padding: 1px 5px 1px 5px;
}

th {
	font-family: "Cascadia Code";
	border: 1px solid #e0e0e0;
	padding: 1px 5px 1px 5px;
	background: #226699;

}

tbody tr:hover {
	background: #5555FF;
}

.disabled {
	color: #888888;
}

.disabled:hover {
	background: #111111;
}

table {
	position: relative;
}

.rowlink::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 30px;
}

.count {
	text-align: right;
	font: 15px "Line Seed Sans TH";
}

.foot {
	font: 11px "Line Seed Sans TH";
}

.status {
	color: #999999;
}

.status_ok {
	color: #21CC32;
}

.status_stale {
	color: #FF3232;
}

.status_stale120 {
	color: #DCE52A;
}

.status_stale240 {
	color: #F2952E;
}

.status_stale480 {
	color: #FF3232;
}