@font-face {
    font-family: Cascadia Code;
    src: url(CascadiaCode-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

html, body {
    background-color: #212121;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0px;
    font-family: "Cascadia Code";
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: #212121;
}

@media screen and (min-width: 600px) {
    html, body {
        margin-left: 5px;
    }
}

h1 {
    font-size: 1.4rem;
    /* line-height: 1.25em; */
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

input {
    height: 20px;
    color: #ffffff;
    background-color: #191919;
    font-family: "Cascadia Code";
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    outline: none;
}

input:hover,
input:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
}

@media screen and (max-width: 599px) {
    #sidebar-content {
        display: none;
    }
    .note {
        display: none;
    }
    h1 {
        font-size: 1.2rem;
        position: absolute;
        z-index: 1000;
        width: 100%;
        text-align: center;
    }
    #progresslabel {
        display: none;
    }
}

.progresslabel {
    font-family: "Cascadia Code";
    font-size: 16px;
    position: absolute;
    margin-block-start: 0;
}

#progressbar {
    height: 20px;
    color: #ababab;
    background-color: #191919;
    border: none;
}

@media screen and (max-width: 599px) {
    #sidebar-container {
        /* display: none; */
    }
}

@media screen and (min-width: 600px) {
    #sidebar-container {
        float: left;
        width: 350px;
        height: 100%;
        margin-right: 15px;
    }
}

.leaflet-container {
    font: 12px/1.5 "Cascadia Code";
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: transparent;
    color: #ffffff;
    box-shadow: none;
    pointer-events: none;
    user-select: none;
}

.leaflet-popup-content{
    margin: 13px 19px;
    line-height: 1;
    font-family: "Cascadia Code";
}
.leaflet-container a.leaflet-popup-close-button {
    display: none;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    background: black;
}

#map-container {
    height: 100%;
}

@media screen and (min-width: 600px) {
    margin-left: 350px;
}

.hidden {
    display: none;
}

#si-sync-stats-link,
.link {
    color: #ababab;
}

#stations-container {
    height: 200px;
    margin-top: 20px;
    overflow: scroll;
}

#stations {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#stations li a {
    margin-top: -1px;
    background-color: #f6f6f638;
    text-decoration: none;
    color: white;
    display: block;
}

#stations li a:hover:not(.header) {
    background-color: #bababa; /* Add a hover effect to all links, except for headers */
}

.note {
    font-size: 0.8rem;
    opacity: 0.75;
}

.error {
    color: #ff8585;
}

.si-label {
    font-weight: bold;
}
